<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title>Employee List</title>
    </head>
    <body>
        <div class="container">
            <div class="text-center display-1 bg-success bg-gradient text-white">
                <h1>Employee List</h1>
            </div>

            <!-- Adding button -->
            <a th:href="@{showFormToAdd}"
                class="btn btn-success mb-3">
                Add New Employee
            </a>
            <table class="table table-bordered table-striped">
                <thead class="table-primary text-center">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Modify</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each="myEmployee : ${employees}">
                        <td th:text="${myEmployee.firstName}">
                        <td th:text="${myEmployee.lastName}">
                        <td th:text="${myEmployee.email}">
                        <!-- Adding update button link -->
                        <td>
                            <a th:href="@{/employees/showFormToUpdate(employeeId=${myEmployee.id})}" class="btn btn-info btn-sm">
                                Update
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </body>
</html>