<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Project</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <br>
        <div class="text-center display-2">
            Can't Delete <span th:text="${myUser}"></span>. he has Tickets.
        </div>
        <br><br><br><br><br>
        <div class="text-center">
            <a href="/manager/list" class="btn btn-warning">Go Back</a>
        </div>
    </body>
</html>

