<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <title>Spring Project</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <p class="display-4 text-center">Home</p>

        <p class="text-center">
            Welcome <span th:text="${welcomeStatement}"></span>
        </p>


        <div sec:authorize="hasRole('ROLE_MANAGER')" class="text-center">
            <hr>
            <p>
            Only for managers
            </p>

            <a href ="manager/list" class="btn btn-sm btn-primary center"> Employee List </a>

            <a href ="manager/managers/list" class="btn btn-sm btn-primary center"> Manager List </a>

            <br><br>

            <a href ="manager/tickets/list" class="btn btn-sm btn-primary"> Ticket List </a>

        </div>


        <br><br>

        <p class="text-center display-5">
            My Tickets
        </p>

        <table class="table table-bordered table-striped">
            <thead class="table-primary text-center">
            <tr>
                <th>Ticket Name</th>
                <th>Assigned By</th>
                <th>Status</th>
                <th>Modify</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="myTicket : ${ticketList}">
                <td th:text="${myTicket.ticketName}">
                <td th:text="${myTicket.assignedByUser.userName}">
                <td th:text="${myTicket.status}">
                <td>
                    <div class="text-center">
                        <a th:href="@{/update/{ticketId}(ticketId=${myTicket.ticketId})}" class="btn btn-sm btn-info btn-outline-primary text-black">
                            Update
                        </a>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center">
            <a href="/logout" class="btn btn-sm btn-warning">Log Out</a>
        </div>
    </body>

</html>