<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title>Manager List</title>
    </head>
    <body>
        <div class="container mybody">
            <div class="text-center display-1 bg-success bg-gradient text-white">
                <h1>Manager List</h1>
            </div>

            <!-- Adding button -->
            <a href="/manager/users/registrationManager"
                class="btn btn-info mb-3 btn-outline-warning text-black btn">
                Add New Manager
            </a>

            <a href="/manager/list"
               class="btn btn-info mb-3 btn-outline-warning text-black btn">
                Employee List
            </a>

            <a href="/manager/managers/makeManager"
               class="btn btn-info mb-3 btn-outline-warning text-black btn">
                Make an Employee a Manager
            </a>

            <table class="table table-bordered table-striped">
                <thead class="table-primary text-center">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Modify</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each="myUser : ${employees}">
                        <td th:text="${myUser.getUserDetail.firstName}">
                        <td th:text="${myUser.getUserDetail.lastName}">
                        <td th:text="${myUser.getUserDetail.email}">
                        <td class="text-center btn-group">
                            <!-- Adding update button link -->
                            <a th:href="@{/manager/managers/demote/{username}(username=${myUser.userName})}" class="btn btn-sm btn-info btn-outline-primary text-black">
                                Demote
                            </a>
                            <!-- Adding delete button link -->
                            <a th:href="@{/manager/delete/{username}(username=${myUser.userName})}" class="btn btn-sm btn-info btn-outline-danger text-black"
                                    onclick="if (!( confirm('Do you really want to delete this employee?'))) return false">
                                Delete
                            </a>

                                <!-- Adding delete button link -->
                            <a th:href="@{/manager/tickets/list/{username}(username=${myUser.userName})}" class="btn btn-sm btn-info btn-outline-warning text-black">
                                Tickets
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <a href="/" class="btn btn-sm btn-secondary">Home</a>
        </div>
    </body>
</html>